.Form {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.Form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.Form input {
  padding: 1em;
  font-size: 0.8em;
}

.Form-errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background: salmon;
}

.Form-error {
  padding: 2px;
  color: white;
}

.Form-place-order {
  grid-column: 1 / 3;
  background: turquoise;
  color: white;
  border: none;
}
